
<form class="form-horizontal" _method="post">
    <div class="control-group">
        <label class="control-label" for="inputEnable">Включено</label>
        <div class="controls">
            <input type="checkbox" id="inputEnable" value="1" checked="checked"  />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCreated">Папка создана</label>
        <div class="controls">
            <input class="span5" type="text" id="inputCreated" value="2013-03-02 09:23:51" disabled/>
            (<a href="#">Администратор</a>)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputTitle">Заголовок</label>
        <div class="controls">
            <input class="input-block-level focused" type="text" id="inputTitle" value="Главная" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputUriPart">Часть URI</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputUriPart" disabled />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputDescr">Описание</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputDescr" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPos">Позиция</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputPos" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPid">Родительская папка</label>
        <div class="controls">
            <select class="input-block-level"  id="inputPid">
                <option value="1" selected="selected">Главная</option>
                <option value="45">.. Файловый менеджер</option>
                <option value="50">.. CAPTCHA</option>
                <option value="51">.. Каталог OLD</option>
                <option value="53">.. 2gis</option>
                <option value="55">.. Аккаунт пользователя</option>
                <option value="29">.. .. Регистрация</option>
                <option value="30">.. .. Профили</option>
                <option value="28">.. .. Восстановление пароля</option>
                <option value="6">.. Скачать</option>
                <option value="19">.. О системе</option>
                <option value="20">.. .. Характеристики</option>
                <option value="33">.. .. .. Требования</option>
                <option value="34">.. .. .. .. php</option>
                <option value="21">.. .. Лицензия</option>
                <option value="11">.. .. Скриншоты ;)</option>
                <option value="32">.. Фотогалерея</option>
                <option value="47">.. lag</option>
                <option value="48">.. Новости old</option>
                <option value="52">.. Тэги</option>
                <option value="54">.. zzz2</option>
                <option value="56">.. Каталог</option>
                <option value="57">.. Новости</option>
                <option value="23">.. .. В мире технологий</option>
                <option value="41">.. .. zzz</option>
                <option value="18">.. Документация</option>
                <option value="13">.. .. Глоссарий</option>
                <option value="31">.. .. Введение</option>
                <option value="3" disabled="disabled">.. Обратная связь</option>
                <option value="22">.. Блог</option>
                <option value="5">.. Форум</option>
                <option value="35">.. system</option>
                <option value="40">.. .. Kernel</option>
                <option value="36">.. 11</option>
                <option value="43">.. .. 111-12</option>
                <option value="46">.. Рассылка</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputRedirect">Редирект</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputRedirect" disabled />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputIsFile">Является файлом</label>
        <div class="controls">
            <input type="checkbox" id="inputIsFile" disabled />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputInheritNodes">Наследование нод</label>
        <div class="controls">
            <input type="checkbox" id="inputInheritNodes" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputRouteNode">Парсер нода ID</label>
        <div class="controls">
            <select class="input-block-level" id="inputRouteNode">
                <option value="0">-</option>
                <option value="3">[3] - Комменты для обратной связи (Texter) </option>
                <option value="45">[45] - WebForm (WebForm) </option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPermissions">Права доступа</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputPermissions" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputTpl">Макет</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputTpl" value="main" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputLockoutNodesSingle">Блокировка нод single</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputLockoutNodesSingle" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputLockoutNodesInherit">Блокировка нод inherit</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputLockoutNodesInherit" disabled />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputLockoutNodesExcept">Блокировка нод except</label>
        <div class="controls">
            <input class="input-block-level" type="text" id="inputLockoutNodesExcept" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="submit" class="btn btn-link">Отменить</button>
        </div>
    </div>
</form>
