@charset "UTF-8";

.cms-tool-bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 32px;
  width: 100%;
  font-size: 16px;
  z-index: 100500;
  //background: linear-gradient(to bottom, #000 0, #2f2f2f 100%);
  background: #23282d;

  * {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  ul {
    padding: 0;
  }

  a {
    color: #d3d3d3 !important;
    text-decoration: none
  }

  .cms-tool-bar__container {
    height: 32px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 960px) {
      padding: 0 10px;
    }
  }

  .cms-tool-bar__container--left {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
  }

  .cms-tool-bar__container--right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    .cms-tool-bar__entity {
      margin-left: 16px;
    }
    ul.dropdown-content {
      left: -80px !important;
    }
  }
  

  .cms-tool-bar__entity {
    &--dropdown {
      margin-right: 16px;
    }
    &:nth-of-type(-n+1) {
      margin-right: 0;
    }
  }
  
}

.cms-frontadmin-node-mode-edit:hover {
  outline: 2px dashed red;
  position: relative;
  z-index: 50;
}

ul.cms-tool-node {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 55;
  li {
    margin-right: 3px;
    margin-left: 0;
    background-color: #323a41;
    padding: 3px;
    border-radius: 3px;
  }
}



.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity > a i {
  margin-right: .75em
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__switcher .switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 1.75em;
  top: 5%
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__switcher .switch input {
  display: none
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__switcher .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__switcher .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.25em;
  width: 1.25em;
  left: .3em;
  bottom: .25em;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__switcher .slider.round {
  border-radius: 2.125em
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__switcher .slider.round:before {
  border-radius: 50%
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--switched input:checked + .slider {
  background-color: #2196F3
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--switched input:checked + .slider:before {
  -webkit-transform: translateX(2em);
  transform: translateX(2em)
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--counter {
  width: 1.5em
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--counter a {
  position: relative;
  width: inherit;
  -webkit-transition: 1s;
  transition: 1s
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--counter a span {
  text-align: center;
  display: block;
  position: absolute;
  background-color: #d62d2d;
  width: 1em;
  height: 1em;
  right: 0;
  bottom: 0;
  border-radius: .5em;
  color: #fff !important;
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--counter a span:after {
  position: absolute;
  color: #000 !important;
  content: "У вас есть новые сообщения";
  width: 8.5em;
  left: -.5em;
  display: none;
  top: 1.25em;
  padding: .55em;
  background-color: #f9f9f9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 0 0 .5em .5em
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--counter a:hover span:after {
  display: block
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100% 100%
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__icon--large {
  width: 16px;
  height: 16px;
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown {
  position: relative;
  color: #a3a3a3
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown * {
  box-sizing: border-box
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content {
  opacity: 0;
  position: absolute;
  z-index: 0;
  //-webkit-transform: translateY(-25em);
  //transform: translateY(-25em);
  display: none;
  top: 32px;
  left: -.5em;
  list-style: none;
  margin: 0;
  background-color: #323a41;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
  -webkit-transition: .25s;
  transition: .25s;
  text-align: left;
  min-width: 120%
}


.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content li a {
  color: #b1b1b1 !important;
  padding: 2px 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin-right: 0;
  white-space: nowrap;
  line-height: 1.5em;
  &:hover {
    color: #fcfcfc !important;
  }
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content li a i {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 2px
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content li:first-child {
  border-top: 0
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content li:last-child {
  border-bottom: 0
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content li:hover {
  background-color: rgba(#00a7d0, .6)
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content li:hover:first-child {
  border-top: 0
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown ul.dropdown-content li:hover:last-child {
  border-bottom: 0
}

.cms-tool-bar .cms-tool-bar__container .cms-tool-bar__entity--dropdown:hover .dropdown-content {
  opacity: 1;
  //-webkit-transform: translateY(0);
  //transform: translateY(0);
  display: block;
  color: #d3d3d3;
  z-index: 100000
}

@media screen and (min-width: 60em) {
  .cms-tool-bar .cms-tool-bar__container .cms-tool-bar__menu-button {
    display: none;
    visibility: hidden
  }
}